/* SITE BLOCKS */

@import "variables.scss";

.block-1 {
    width: 100%;
    height: 100vh;
    background-image:  linear-gradient(60deg, rgba(19, 44, 15, 0.8) 0%, rgba(90, 124, 34, 0.8) 100%), url(../assets/home-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #fff;
    z-index: -1;
    animation: animatedBackground 15s linear infinite alternate;

    & .waves {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 15vh;
        margin-bottom: -7px; /*Fix for safari gap*/
        min-height: 100px;
        max-height: 150px;
    }

    & .banner_design {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        text-align: center;

        & .logo {
        }

        & h1 {
            display: inline-block;
            color: $font-pri-w;
        }
    }

}

.block-2 {
    height: 100vh;

    & .text {
        position: absolute;
        top: 15%;
        right: 50%;
        transform: translate(50%, -50%);
        text-align: center;
    }

    & .outline h1 {
        -webkit-text-stroke: 0.02em #000; /*#4bbfda*/
        text-stroke: 1px #000;
        color: transparent;
    }

    & .c-info_features {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    & .c-info_features--image img {
        width: 100%;
        margin-top: 10vh;
    }
}

.block-3 {
    height: 100vh;
}
