/* FONTS */

@import "variables.scss";

@font-face {
    font-family: elgoc;
    src: url("../fonts/ElgocMedium.woff");
}

@font-face {
    font-family: ttnorms;
    src: url("../fonts/TTNorms-Regular.otf");
}

@font-face {
    font-family: 'circula';
    src: url('out.eot'); /* IE9 Compat Modes */
    src: url('out.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/circula/circula.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/circula/circula.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/circula/circula.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/circula/circula.svg#circula') format('svg'); /* Legacy iOS */
  }

ul, li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a, p {
    font-family: ttnorms;
}

p {
    font-size: $font-size;
    font-weight: normal;
    color: $font-pri;
    line-height: 126%;
}

h1, h2, h3, h4 {
    font-weight: normal;
    text-transform: uppercase;
    font-family: circula;
    line-height: 100%;
    color: $font-pri;
}

h1 {
    font-size: $font-size-h1;
    white-space: nowrap;
}