/* MEDIA QUERIES */

@import "variables";


// Small screen
@media screen and (max-width: $small-screen) {

    // Fonts
    h1 {
        font-size: $font-size-h1-s;
    }

    .block-1 {

        animation: animatedBackground 50s linear infinite alternate;

        img {
            width: 190px!important;
            height: 190px!important;
        }
    }

    .block-2 {
        .text-horizontal {
            transform: translateX(20%);
        }

        .card {
            &.detect.detected {
                .face.face1 {
                    background: #3ea100;
                    transform: translateY(0);

                    .content {
                        opacity: 1;
                    }
                }

                .face.face2 {
                    transform: translateY(0);

                    .content p {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

/*
@media (min-width: $small-screen) {

    .block-2 {
        .container { grid-template-columns: repeat(2, 1fr); }
    }
} */

// Extra small screen
@media screen and (max-width: $xsmall-screen) {

    .block-2 h1 {
        font-size: $font-size-h1-xs;
    }
}

// Medium screen


// Large screen
@media screen and (min-width: $large-screen) {

    // Fonts
    h1 {
        font-size: $font-size-h1-l;
    }

    .block-1 {

        img {
            width: 280px!important;
            height: 280px!important;
        }
    }

    
    .block-2 {
        .text-horizontal {
            transform: translateX(40%);
        }
    }

}

@media (min-width: $medium-screen) {

    .block-2 {
        .container { grid-template-columns: repeat(3, 1fr); }
    }
}

// Extra Large screen
@media screen and (min-width: $xlarge-screen) {

    // Fonts
    h1 {
        font-size: $font-size-h1-xl;
    }

    .block-1 {

        img {
            width: 320px!important;
            height: 320px!important;
        }
    }
}