/* VARIABLES */

// Typography
// =============================================================================
// Colors
$font-pri:            #222222;
$font-pri-w:          #fff;
// Base
$font-size:             2em   !default;
// Headings
$font-size-h1:          5em   !default;
$font-size-h1-s:        ($font-size-h1 - 1em);
$font-size-h1-xs:       ($font-size-h1 - 2em);
$font-size-h1-l:        ($font-size-h1 + 1em);
$font-size-h1-xl:       ($font-size-h1 + 2em);

$font-size-h2:          5em   !default;

// Breakpoints
// =============================================================================
$xsmall-screen:         600px;
$small-screen:          900px;
$large-screen:          1920px;
$xlarge-screen:         2400px;